
<div class="well shadow">
	<div class="row">
		<div class="span2">
			<h4><%= domicilio.nombre %></h4>
		</div>
		<div class=" pull-right">
			<%= link_to raw("<i class='icon-pencil icon-white'></i> Editar"), "#{mi_cuenta_domicilios_path}/#{domicilio.id}", class: 'btn btn-info' %>&nbsp;
			<%= link_to raw("<i class='icon-trash icon-white'></i> Borrar"), "#{mi_cuenta_domicilios_path}/#{domicilio.id}", confirm: '¿Estás seguro?', method: :delete, class: 'btn btn-danger' %>
		</div>
	</div>
	<div class="row">
		<div class="span5">
			<p>
				<%= domicilio.calle %>&nbsp;<%= domicilio.numero %>&nbsp;<%= domicilio.piso %>&nbsp;<%= domicilio.depto %>
				&nbsp;<%= "(entre #{domicilio.entre_calles})" unless domicilio.entre_calles.nil? or domicilio.entre_calles.empty? %>
				<br/>
				<%= domicilio.barrio.nombre %><br/>
				C&oacute;digo Postal <%= domicilio.codigo_postal %>	
			</p>
		</div>
	</div>	
</div>
