
	<%= form_for(@domicilio, :html => {:class => 'form-horizontal'}) do |f| %>
  		<% if @domicilio.errors.any? %>
  			<div class="row">
  				<div class="span6 offset3">
					<% @domicilio.errors.full_messages.each do |msg| %>
						<span class="label label-important"><%= msg %></span><br/>
					<% end %>
  				</div>
  			</div>
			<br/>
  		<% end %>

		<%= f.label :nombre %>
		<%= f.text_field :nombre %><br/>
		<%= f.label :calle %>
		<%= f.text_field :calle %><br/>
		<%= f.label :numero %>
		<%= f.text_field :numero, size: 3 %>
		<%= f.label :piso %>
		<%= f.text_field :piso, size: 1 %>
		<%= f.label :depto %>
		<%= f.text_field :depto, size: 1 %><br/>
		<%= f.label :entre_calles %>
		<%= f.text_field :entre_calles %><br/>
		<%= f.label :codigo_postal %>
		<%= f.text_field :codigo_postal, size: 3 %>
		<%= f.label :barrio %>
		<%= f.select :barrio_id, Barrio.all.map { |b| [b.nombre, b.id] } %><br/>
  		
  		<div class="form-actions">
    		<%= f.submit 'Siguiente', :class => 'btn btn-primary' %>
  		</div>
	<% end %>
