
	<%= form_for(@domicilio, :html => {:class => 'form-horizontal'}) do |f| %>
  		<% if @domicilio.errors.any? %>
  			<div class="row">
  				<div class="span6 offset3">
					<% @domicilio.errors.full_messages.each do |msg| %>
						<span class="label label-important"><%= msg %></span><br/>
					<% end %>
  				</div>
  			</div>
			<br/>
  		<% end %>

		<div class="row">
			<div class="span4">
				<div class="control-group">
					<%= f.label :nombre, class: 'control-label' %>
					<div class="controls"><%= f.text_field :nombre, class: 'input-small' %></div>
				</div>
				<div class="control-group">
					<%= f.label :calle, class: 'control-label' %>
					<div class="controls"><%= f.text_field :calle %></div>
				</div>
				<div class="control-group">
					<%= f.label :entre_calles, class: 'control-label' %>
					<div class="controls"><%= f.text_field :entre_calles %></div>
				</div>
				<div class="control-group">
					<%= f.label :barrio, class: 'control-label' %>
					<div class="controls"><%= f.select :barrio_id, Barrio.all.map { |b| [b.nombre, b.id] }, class: 'input-small' %></div>
				</div>
			</div>
			<div class="span3">
				<div class="control-group">
					<%= f.label :numero, class: 'control-label' %>
					<div class="controls"><%= f.text_field :numero, class: 'input-small' %></div>
				</div>
				<div class="control-group">
					<%= f.label :piso, class: 'control-label' %>
					<div class="controls"><%= f.text_field :piso, class: 'input-small' %></div>
				</div>
				<div class="control-group">
					<%= f.label :depto, class: 'control-label' %>
					<div class="controls"><%= f.text_field :depto, class: 'input-small' %></div>
				</div>
				<div class="control-group">
					<%= f.label :codigo_postal, 'Cod. postal', class: 'control-label' %>
					<div class="controls"><%= f.text_field :codigo_postal, class: 'input-small' %></div>
				</div>
			</div>
		</div>
  		
		<div class="well titulo_verde">
			<h3>O quizás quieras recibirlo en alguno de tus otros domicilios...</h3>	
		</div>	
		<table class="table table-striped table-bordered">
			<tbody>
				<%= render partial: 'tienda/domicilio_entrega', locals: {id_actual: @domicilio.id}, collection: @usuario.domicilios.reject { |d| d == @domicilio }, as: :domicilio %>
			</tbody>
		</table>		
  		
  		<div class="row">
  			<div class="span3">
  				<%= link_to '< Volver a revisar el carrito', @carrito, class: 'btn btn-info'%>
  			</div>
  			<div class="pull-right">
  				<%= f.submit 'Elegir cuándo recibir mi pedido >', class: 'btn btn-info' %>
  			</div>
  		</div>
	<% end %>
