
	<h3>Mi Cuenta</h3>
	
	<% if @usuario %>
		<p>Bienvenida/o, <%= @usuario.nombre %>.</p>
		
		<% if @usuario.administrador? %>
			<%= link_to raw("<i class='icon-wrench'></i> Administrar"), admin_url, class: 'btn' %>
		<% end %>
		<%= link_to raw("<i class='icon-share'></i> Salir"), logout_url, method: :delete, class: 'btn' %>
	<% else %>
		<%= form_tag(controller: 'sessions', action: 'create') do %>
			<%= label_tag :email, 'e-mail' %>
			<%= text_field_tag :email, nil, class: 'span2' %>
			<%= label_tag :password, 'Contraseña' %>
			<%= password_field_tag :password, nil, class: 'span2' %>
			<%= submit_tag 'Ingresar', class: 'btn btn-primary' %>
		<% end %>
	<% end %>
