
	<h2>Pr&oacute;ximas entregas</h2>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Cliente</th>
				<th>Domicilio</th>
				<th>Importe</th>
				<th>Env&iacute;o</th>
				<th>Fecha entrega</th>
				<th>Horario</th>
			</tr>
		</thead>
		<tbody>
			<% @proximas_entregas.each do |v| %>
				<tr>
					<td><%= v.usuario.nombre %>, <%= v.usuario.apellido %></td>
					<td><%= v.domicilio.descripcion unless v.domicilio.nil? %></td>
					<td nowrap><strong class="red"><%= number_to_currency(v.monto_total) %></strong></td>
					<td nowrap><strong><%= number_to_currency(v.costo_envio) %></strong></td>
					<td><%= v.fecha_entrega %></td>
					<td><%= v.hora_desde_entrega.strftime('%H:%M')%> - <%= v.hora_hasta_entrega.strftime('%H:%M') %></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td colspan="6" nowrap>
					
						<table class="table table-bordered">
							<tbody>
								<% v.venta_detalles.each do |d| %>
									<tr>
										<td><%= d.producto.nil? ? d.combo.detalle : "#{d.producto.descrip_corta} #{d.producto.descripcion}" %></td>
										<td>
											<%= pretty_number(d.cantidad) %>&times;
											<%= number_to_currency(d.precio_unitario) %> =
											<strong><%= number_to_currency(d.precio_total) %></strong>
										</td>
									</tr>
								<% end %>
							</tbody>
						</table>
					
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

