
<tr <%= "id='item_actual'" if carrito_item == @item_actual %>>
	<td class="linea">
		<%= carrito_item.producto.nombre %><br/> 
		(<%= carrito_item.cantidad %> &times; <%= number_to_currency(carrito_item.producto.precio) %>)
	</td>
	<td valign="top" class="linea"><%= number_to_currency(carrito_item.precio_total) %></td>
</tr>
