
	<tr <%= "id='item_actual'" if carrito_item == @item_actual %>>
		<td class="linea">			
			<%= carrito_item.cantidad %> &times; <%= trunc(carrito_item.desc_corta, 10, '...') %> 
		</td>
		<td valign="top" class="linea" nowrap>
			<%= number_to_currency(carrito_item.precio_total) %>
		</td>
		<td class="linea">
			<%= link_to raw('<i class="icon-trash icon-white"></i>'), carrito_item, confirm: '¿Quitar este ítem del carrito?', method: :delete, remote: true %>		
		</td>
	</tr>
