	
	<div class="well titulo_azul">
		<h3 style="float: left;">Contacto</h3>
		<h3 class="pull-right">panialeradigital@gmail.com</h3>
		<h3>&nbsp;</h3>
	</div>
	
	<div class="row">
		<div class="offset1">
			<strong>(Todos los campos son obligatorios)</strong>
		</div>
	</div>
	<br/>
	
	<div class="row">
		<div class="span6">
			<%= form_tag({}, {class: 'form-horizontal'}) do %>
				<div class="control-group">
					<%= label_tag :nombre, 'Nombre y apellido', class: 'control-label' %>
					<div class="controls"><%= text_field_tag :nombre, ("#{@usuario.nombre} #{@usuario.apellido}" unless @usuario.nil?) %></div>	
				</div>
				<div class="control-group">
					<%= label_tag :email, 'e-mail', class: 'control-label' %>
					<div class="controls"><%= text_field_tag :email, (@usuario.email unless @usuario.nil?) %></div>
				</div>
				<div class="control-group">
					<%= label_tag :consulta, 'Consulta', class: 'control-label' %>
					<div class="controls"><%= text_area_tag :consulta, nil, {rows: 3, cols: 40, id: :consulta} %></div>
				</div>
				<div class="control-group">
					<%= label_tag :recibir_novedades, '¿Desea recibir novedades?', class: 'control-label' %>
					<div class="controls"><%= check_box_tag :recibir_novedades, 'si', true %></div>
				</div>
				<div class="control-group">
					<label class="control-label">&nbsp;</label>
					<%= submit_tag 'Enviar consulta', class: 'btn btn-primary' %>
				</div>
				
			<% end %>
		</div>
	</div>

	<script>
		document.getElementById('consulta').focus();
	</script>
	
