
	<div class="well shadow">
		<div class="well titulo_azul">
			<h4><%= @producto.nombre %></h4>
		</div>
		<div class="row">
			<div class="span2">
				<a class="popup" href="#" onclick="pop();">
					<% if @producto.imagen? %>
						<%= image_tag @producto.imagen_url(:thumb) %>
					<% else %>
						<%= image_tag 'thumb.png' %>
					<% end %>
					<br/>
					(clic para agrandar)
				</a>
			</div>
			<div class="span5">
				<em><%= @producto.descripcion %></em><br/>
				<%= "#{@producto.talle}" unless @producto.talle.nil? or @producto.talle.empty? %> <%= "(#{@producto.peso_bebe})" unless @producto.peso_bebe.nil? or @producto.peso_bebe.empty? %><br/>
				<%= @producto.referencia %><br/>
				
				<p><%= @producto.detalle.html_safe %></p>
				
				Precio:&nbsp;<%= number_to_currency(@producto.precio) %><br/>
				<br/>
				
				<%= form_for(CarritoItem.new(cantidad: 1, producto: @producto), remote: true) do |f| %>
					<%= f.hidden_field :producto_id %>
					<%= label_tag :cantidad %>
					<%= f.number_field :cantidad, class: 'span1' %>
					<%= button_to texto_boton_carrito(@producto), nil, disabled: !@producto.hay_stock?, class: 'btn btn-danger' %>
				<% end %>
			</div>
		</div>
	</div>

	<div id="dialog" title="Imagen de <%= @producto.nombre %>" style="display: none;">
		<%= image_tag @producto.imagen_url %>
	</div>

	<script>
		function pop()
		{
			$('#dialog').dialog(
			{
  				show: "blind",
  				closeOnEscape: true,
  				modal: true,
  				closeText: "Cerrar",
  				width: 'auto',
  				title: '<%= @producto.codigo %> - <%= @producto.nombre %> - <%= "Talle #{@producto.talle}" unless @producto.talle.nil? or @producto.talle.empty? %> <%= "(#{@producto.peso_bebe})" unless @producto.peso_bebe.nil? or @producto.peso_bebe.empty? %>'
			});
		}
	</script>
