
	<%= render partial: 'header_compra', locals: {activo: 2} %>

	<div class="well shadow">
		<% unless @entregas.nil? or @entregas.empty? %>
			
			<table class="table table-bordered">
				<thead>
					<tr>
						<% @entregas.keys.each do |dia| %>
							<th>Este <%= dia %> (<%= @entregas[dia].last.fecha.strftime('%d/%m') %>)</th>
						<% end %>
					</tr>
				</thead>
				<% @entregas.map { |dia| dia.size }.max.times do |i| %>
					<tr>
						<% @entregas.each do |dia| %>
							<% e = @entregas[dia[0]][i] %>
							<td>							
								<% unless e.nil? %>
									<%= link_to e.horario.html_safe, url_for(controller: :tienda, action: :resumen, domicilio_id: @domicilio.id, entrega_id: e.id, fecha: e.fecha.strftime('%Y%m%d')), class: 'btn btn-success' %></td>
								<% else %>
									&nbsp;
								<% end %>
							</td>
						<% end %>
					</tr>
				<% end %>
			</table>
		
		<% else %>
			<div class="alert alert-info">
				<p>
					<strong>Lo sentimos mucho, pero por el momento no tenemos fechas de entrega disponibles.</strong>
				</p>
			</div>
		<% end %>
	</div>

	<div class="well shadow">
		<%= link_to '< Anterior', nueva_compra_seleccionar_domicilio_path, class: 'btn btn-info'%>
	</div>

