
	<% if notice %>
		<p id="notice"><%= notice %></p>
	<% end %>

	<%= image_tag 'bebe_durmiendo.png' %>
	
	<ul id="botones_grandes">
		<li><%= image_tag 'novedades.png' %></li>
		<li><%= image_tag 'en_venta.png' %></li>
		<li><%= image_tag 'mas_vendidos.png' %></li>
	</ul>
	
	<p>
		Welcome to&nbsp;<strong>Vanilla Creme  Green</strong>&nbsp;boutique web design template! The header will be 
		customized with your business name and optional tagline/slogan. All links located at top and in left hand 
		column will be editable by you through your store admin area.&nbsp;<strong>
	</p>
	
	<p>
		Free installation is always included when using a compatible web host!</strong>
	</p>
	
	<%= image_tag 'productos_destacados.png' %>
	<ul id="destacados">
		<li>
			<%= image_tag 'thumb.png' %>
			<p>Nombre Producto</p>
			<p>Precio</p>
		</li>
		<li>
			<%= image_tag 'thumb.png' %>
			<p>Nombre Producto</p>
			<p>Precio</p>
		</li>
		<li>
			<%= image_tag 'thumb.png' %>
			<p>Nombre Producto</p>
			<p>Precio</p>
		</li>
	</ul>
	
	<% @productos.each do |p| %>
		<div class="entry">
			<%= image_tag p.imagen_url if p.imagen? %>
			<h3><%= p.nombre %></h3>
			<%= sanitize(p.descripcion) %>
			<div class="price_line">
				<span class="price"><%= number_to_currency(p.precio) %></span>
				<%= button_to 'Agregar al carrito', carrito_items_path(producto_id: p), remote: true %>
			</div>
		</div>
	<% end %>
