
	<% if notice %>
		<p id="notice"><%= notice %></p>
	<% end %>

	<%= image_tag 'bebe_durmiendo.png' %>
	
	<ul id="botones_grandes">
		<li><%= image_tag 'novedades.png' %></li>
		<li><%= image_tag 'en_venta.png' %></li>
		<li><%= image_tag 'mas_vendidos.png' %></li>
	</ul>
	<!--
	<p>
		Welcome to&nbsp;<strong>Vanilla Creme  Green</strong>&nbsp;boutique web design template! The header will be 
		customized with your business name and optional tagline/slogan. All links located at top and in left hand 
		column will be editable by you through your store admin area.&nbsp;<strong>
	</p>
	
	<p>
		Free installation is always included when using a compatible web host!</strong>
	</p>
	-->
	<%= image_tag 'productos_destacados.png', id: 'titulo_destacados' %>
	<ul id="destacados">
		<%= render partial: '/productos/destacado', collection: @productos_destacados %>
	</ul>
	