
	<h2>Categor&iacute;a "<%= @categoria.nombre %>"</h2>

	<ul>
		<% @categoria.productos.each do |p| %>
			<li class="listado_productos">
				<div class="imagen">
					<% if p.imagen? %>
						<%= image_tag p.imagen_url(:thumb) %>
					<% else %>
						<%= image_tag 'thumb.png' %>
					<% end %>
				</div>
				<div class="descripcion">
					<strong><%= p.nombre %></strong><br/>
					<em><%= p.descripcion %></em><br/>
					<%= "Talle #{p.talle}" unless p.talle.nil? or p.talle.empty? %> <%= "(#{p.peso_bebe})" unless p.peso_bebe.nil? or p.peso_bebe.empty? %><br/>
					<%= p.referencia %><br/>
					<%= number_to_currency(p.precio) %><br/>
					<%= link_to 'Ver Detalles', controller: :tienda, action: :detalle_producto, codigo: p.codigo %>

					<%= button_to 'Agergar al carrito', carrito_items_path(producto_id: p), remote: true %>
				</div>				
			</li>
		<% end %>
	</ul>
