
	<%= render partial: 'header_compra', locals: {activo: 3} %>
	
	<div class="well shadow">
		<div class="row">
			<div class="span2">
				<strong>Domicilio:</strong>
			</div>
			<div class="span4">
				<%= @carrito.domicilio.descripcion %>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="span2">
				<strong>Fecha de entrega:</strong>
			</div>
			<div class="span4">
				<%= @carrito.fecha_entrega %> (este <%= DIAS_SEMANA[@carrito.fecha_entrega.wday] %>)
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="span2">
				<strong>Horario de entrega:</strong>
			</div>
			<div class="span4">
				entre las <%= @carrito.hora_desde_entrega.strftime('%H:%M') %> y las <%= @carrito.hora_hasta_entrega.strftime('%H:%M') %> hs.
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="span2">
				<strong>Forma de pago:</strong>
			</div>
			<div class="span4">
				Efectivo (contra entrega)
			</div>
		</div>	
		<br/>
		<div class="row">
			<div class="span2">
				&nbsp;
			</div>
			<div class="span5">				
				<label for="terminos">
					<input type="checkbox" id="terminos" name="terminos" checked />
					Acepto los <a href="#" onclick="javascript: $('#dialog-modal').dialog('open');">t&eacute;rminos y condiciones.</a>
				</label>
			</div>
		</div>
		<br/>
	
		<div class="well titulo_azul">
			<h3>Detalle de tu compra</h3>
		</div>
		
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Marca</th>
					<th>Nombre</th>
					<th>Talle</th>
					<th>Referencia</th>
					<th>Cantidad</th>
					<th>Precio unitario</th>
					<th>Precio total</th>
				</tr>
			</thead>
			<tbody>
				<% @carrito.carrito_items.each do |i| %>
					<tr>
						<% unless i.producto.nil? %>
							<td>
								<%= i.aplica_vale? ? "": asterisco %>
								<%= i.producto.marca.nombre %>
							</td>
							<td><%= i.producto.nombre %> <%= i.producto.descripcion %></td>
							<td><%= i.producto.talle %></td>
							<td><%= i.producto.referencia %></td>
						<% else %>
							<td colspan="4">
								<%= i.aplica_vale? ? "": asterisco %>
								<%= i.combo.detalle %>
							</td>
						<% end %>
						<td><%= pretty_number(i.cantidad) %></td>
						<td nowrap><%= number_to_currency(i.precio_unitario) %></td>
						<td nowrap><%= number_to_currency(i.precio_total) %></td>
					</tr>
				<% end %>
			</tbody>
			<tfoot>
				<% if @carrito.vale %>
					<tr>
						<td colspan="6"><strong>Descuento vale <%= @carrito.vale.codigo %> (% <%= @carrito.vale.porcentaje_descuento %>)</strong></td>
						<td class="descuento" nowrap>- <%= number_to_currency(@carrito.valor_descuento) %></td>
					</tr>
				<% end %>
				<tr>
					<td colspan="6" align="right">Costo de env&iacute;o</td>
					<td nowrap><%= number_to_currency(@carrito.costo_envio) %></td>
				</tr>
				<tr>
					<td colspan="6" align="right"><strong>Importe total de la compra</strong></td>
					<td nowrap><strong><%= number_to_currency(@carrito.precio_total)%></strong></td>
				</tr>
			</tfoot>
		</table>
		
		<% unless @carrito.vale %>
			<table class="table table-striped table-bordered">
				<tbody>
					<tr>
						<td><strong>Vale de descuento</strong></td>
						<td>
							<%= form_tag({}, {class: 'form-inline'}) do %>						
								<label for="codigo">C&oacute;digo:&nbsp;</label>
								<%= text_field_tag :codigo_vale, nil, {class: 'span2'} %>
								<input type="submit" value="Agregar vale" class="btn btn-primary" />
							<% end %>								
						</td>
					</tr>
				</tbody>
			</table>
		<% end %>
	
		<div class="row" style="text-align: center;">
			<% unless @carrito.vale.nil? or not @carrito.tiene_items_exentos_vale? %>
				<span class="red italic">* Estos items no aplican al descuento del vale ingresado</span><br/>
			<% end %>
			<%= link_to "Confirmar la compra", '#', onclick: 'javascript: terminar();', class: 'btn btn-success btn-large' %>
		</div>
	</div>
	
	<div class="well shadow">
		<%= link_to '< Anterior', "/nueva_compra/entrega/#{@carrito.domicilio.id}", class: 'btn btn-info'%>
	</div>
	

	<script>
		function terminar()
		{
			if ($('#terminos').attr('checked'))
			{
				block("Aguardá un instante mientras procesamos tu compra...");
				location.href = '<%= nueva_compra_confirmar_path %>';
			}
			else
			{
				alert('Por favor aceptá los términos y condiciones.');
			}
		}
	</script>
	

