
	<%= render partial: 'header_compra', locals: {activo: 1} %>

	<div class="well shadow">
		<table class="table table-bordered">
			<tbody>
				<%= render partial: 'tienda/domicilio_entrega', locals: {id_actual: @domicilio.id}, collection: @usuario.domicilios, as: :domicilio %>
			</tbody>
		</table>
	</div>
			
	<div class="well shadow">
		<div class="well titulo_naranja">
			<h3>Un nuevo domicilio</h3>
		</div>
			
		<%= form_tag(nuevo_domicilio_url, {class: 'form-horizontal'}) do %>
			<div class="row">
		 		<div class="control-group">
		 			<%= label_tag :nombre, 'Nombre del domicilio', class: 'control-label' %>
		 			<div class="controls"><%= text_field_tag :nombre %> (ej.: casa, trabajo)</div>
		 		</div>			 	
		 	</div>
		 	<div class="row">
		 		<div class="span3">
			 		<%= label_tag :calle %>
			 		<%= text_field_tag :calle %>
			 	</div>
			 	<div class="span1">
			 		<%= label_tag :numero %>
			 		<%= number_field_tag :numero, 0, class: 'span1'%>
		 		</div>
			 	<div class="span1">
			 		<%= label_tag :piso %>
			 		<%= text_field_tag :piso, '-', class: 'span1'%>
		 		</div>
			 	<div class="span1">
			 		<%= label_tag :depto %>
			 		<%= text_field_tag :depto, '-', class: 'span1'%>
		 		</div>
			 </div>
			 <div class="row">
		 		<div class="span3">
			 		<%= label_tag :entre_calles %>
			 		<%= text_field_tag :entre_calles %>
			 	</div>
			 	<div class="span1">
			 		<%= label_tag :codigo_postal, 'C. Postal' %>
			 		<%= text_field_tag :codigo_postal, 0, class: 'span1' %>
			 	</div>
			 	<div class="span3">
					<%= label_tag :barrio_id, 'Barrio' %>
					<%= select_tag :barrio_id, options_for_select(Barrio.order(:nombre).map { |b| [b.nombre, b.id] }) %>
		 		</div>
			 </div>
			<br/>
			
			<div class="row">
				<div style="text-align: center">
					<%= link_to_submit 'Quiero recibirlo aquí', nil, 'btn-success btn-large' %>
				</div>
			</div>	
		<% end %>
		
	</div>
	
	<div class="well shadow">
		<%= link_to '< Anterior', @carrito, class: 'btn btn-info'%>
	</div>
	
	