
	<%= form_for(@vale, :html => {:class => 'form-horizontal'}) do |f| %>
  		<% if @vale.errors.any? %>
  			<div class="row">
  				<div class="span6 offset3">
					<% @vale.errors.full_messages.each do |msg| %>
						<span class="label label-important"><%= msg %></span><br/>
					<% end %>
  				</div>
  			</div>
			<br/>
  		<% end %>

  		<div class="control-group">
    		<%= f.label :codigo, :class => 'control-label' %>
    		<div class="controls"><%= f.text_field :codigo %></div>
  		</div>
  		<div class="control-group">
    		<%= f.label :nombre, :class => 'control-label' %>
    		<div class="controls"><%= f.text_field :nombre %></div>
  		</div>
  		<div class="control-group">
    		<%= f.label :porcentaje_descuento, :class => 'control-label' %>
    		<div class="controls"><%= f.number_field :porcentaje_descuento %></div>
  		</div>
  		<div class="control-group">
  			<%= f.label :cantidad_usos_disponibles, :class => 'control-label' %>
  			<div class="controls"><%= f.number_field :cantidad_usos_disponibles %></div>
  		</div>
  		
  		<div class="form-actions">
    		<%= f.submit 'Grabar', :class => 'btn btn-primary'%>
  		</div>
	<% end %>
