
	<legend>Listando vales</legend>

	<div class="row">
		<div class="span12">
			<%= form_for(@vale, remote: true, html: {:class => 'well form-inline'}) do |f| %>

    		<%= f.label :codigo %>&nbsp;
    		<%= f.text_field :codigo, class: 'span2' %>
    		<%= f.label :porcentaje_descuento %>
				<%= f.number_field :porcentaje_descuento, class: 'span1' %>
    		<%= f.submit 'Agregar', class: 'btn' %>
			<% end %>
		</div>
	</div>

	<table class="table table-bordered table-stripped">
		<thead>
			<tr>
				<th>C&oacute;digo</th>
				<th>Nombre</th>
				<th>Porcentaje de descuento</th>
				<th>¿Utilizado?</th>
				<th colspan="3"></th>
			</tr>
		</thead>
		<tbody id="cuerpo_tabla_vales">
			<%= render @vales %>
		</tbody>
	</table>

	<div class="form-actions">
		<%= link_to 'Nuevo Vale', new_vale_path, :class => 'btn btn-primary' %>
	</div>
