<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @vale.codigo %>
</p>

<p>
  <b>Nombre:</b>
  <%= @vale.nombre %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @vale.descripcion %>
</p>

<p>
  <b>Valor:</b>
  <%= @vale.valor %>
</p>


<%= link_to "<i class='icon-pencil icon-white'></i> Editar".html_safe, edit_vale_path(@vale), class: 'btn btn-primary' %>
<%= link_to "<i class='icon-chevron-left icon-white'></i> Volver".html_safe, vales_path, class: 'btn btn-info' %>
<%= link_to "<i class='icon-plus icon-white'></i> Nuevo".html_safe, new_vale_path, class: 'btn btn-success' %>
