
	<%= image_tag 'mi_carrito.png' %>
	
	<table width="90%" cellpadding="0" cellspacing="0" id="tabla_carrito">
		<%= render(carrito.carrito_items) %>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr id="entrega">
			<td><strong>Delivery</strong></td>
			<td><strong><%= number_to_currency(0) %></strong></td>
		</tr>
		<tr id="total">
			<td><strong>Total</strong></td>
			<td><strong><%= number_to_currency(carrito.precio_total) %></strong></td>
		</tr>
	</table>
	<br/>

	<%= button_to 'Vaciar', carrito, method: :delete, confirm: '¿Estás seguro?', remote: true, style: 'float: right;' %>
	<%= button_to 'Comprar', carrito, method: :get, style: 'float: right;' %>
