
	<div class="well" id="carrito">
		<h3>Mi Carrito</h3>
		
		<table width="90%" cellpadding="0" cellspacing="0" id="tabla_carrito">
			<%= render(carrito.carrito_items) %>
			<tr><td colspan="2">&nbsp;</td></tr>
			<tfoot>
				<tr id="entrega">
					<td><strong>Delivery</strong></td>
					<td colspan="2" nowrap><%= number_to_currency(carrito.costo_envio) %></td>
				</tr>
				<tr id="total">
					<td><strong>Total</strong></td>
					<td colspan="2" nowrap><strong><%= number_to_currency(carrito.precio_total) %></strong></td>
				</tr>
			</tfoot>
		</table>
		<br/>
	
		<%= link_to raw('<i class="icon-trash icon-white"></i> Vaciar'), carrito, method: :delete, confirm: '¿Estás seguro?', remote: true, class: 'btn btn-danger' %>
		<%= link_to raw('<i class="icon-shopping-cart icon-white"></i> Comprar '), carrito, method: :get, class: 'btn btn-success' %>
	</div>
