
	<script>
		$(document).ready(function() 
		{
		  /* Activating Best In Place */
		  jQuery(".best_in_place").best_in_place();
		});
	</script>

	<div class="row">
		<div class="span10">
			<%= form_tag({:controller => 'compras', :action => 'agregar_detalle'}, :method => 'post', :class => 'form-horizontal') do %>
				<legend>Detalles de la compra</legend>
				<%= hidden_field_tag :compra_id, @compra.id %>
				<div class="control-group">
					<%= select_tag :producto_id, options_for_select(@productos.map { |p| [p.nombre, p.id]}) %>
					<%= submit_tag 'Agregar', :class => 'btn' %>
				</div>
			<% end %>			
		</div>
	</div>

	<table class="table table-bordered table-stripped">
		<thead>
			<tr>
				<th>Producto</th>
				<th>Cantidad</th>
				<th>Precio</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<% @compra.compra_detalles.each do |d| %>
				<tr>
					<td><%= d.producto.nombre %></td>
					<td><%= best_in_place d, :cantidad, :type => :input, :nil => "¡Cliqueá para agregar contenido!" %></td>
					<td><%= best_in_place d, :precio, :type => :input, :nil => "¡Cliqueá para agregar contenido!" %></td>
					<td><%= link_to 'Quitar', "#{compras_url}/quitar_detalle/#{d.id}"%></td>
				</tr>
			<% end %>
		</tbody>
	</table>
