
<ul class="nav nav-list well" id="destacado">
	<h3><%= link_to Parametro.titulo_destacado_rotativo.html_safe, destacados_path %></h3>
	<br/>

	<div class="imagen_destacado well">
		<% unless destacado.nil? %>
			<% if destacado.imagen? %>
				<%= image_tag destacado.imagen_url(:thumb) %>
			<% else %>
				<%= image_tag 'thumb.png' %>
			<% end %>
			<br/>
			<br/>
		
			<% if destacado.kind_of? Producto %>
				<p><%= destacado.marca.nombre %>&nbsp;<%= destacado.nombre %></p>
			<% else %>
				<p><%= destacado.detalle %></p>
			<% end %>
			<p><%= number_to_currency(destacado.precio) %></p>
	
			<% if destacado.kind_of? Producto %>
				<p><%= link_to 'Ver Detalles', controller: :tienda, action: :detalle_producto, codigo: destacado.codigo %></p>
				<%= button_to texto_boton_carrito(destacado), carrito_items_path(producto_id: destacado), remote: true, class: 'btn btn-danger', disabled: !puede_comprar?(destacado), id: "boton_producto_#{destacado.id}" %>
			<% else %>
				<%= link_to 'Ver Detalles', controller: :tienda, action: :detalle_combo, combo_id: destacado.id %>
				<%= button_to texto_boton_carrito(destacado), carrito_items_path(combo_id: destacado), disabled: !puede_comprar?(destacado), remote: true, class: 'btn btn-danger', id: "boton_combo_#{destacado.id}" %>				
			<% end %>
		<% end %>
	</div>

	<p class="centrado">
		<%= link_to 'Ver más destacados', destacados_path, class: 'ver_mas' %>
	</p>

</ul>
