
	<%= form_for(@producto, :html => {:class => 'form-horizontal', :multipart => true}) do |f| %>
  		<% if @producto.errors.any? %>
  			<div class="row">
  				<div class="span6 offset3">
					<% @producto.errors.full_messages.each do |msg| %>
						<span class="label label-important"><%= msg %></span><br/>
					<% end %>
  				</div>
  			</div>
  			<br/>
  		<% end %>

		<div class="row">
			<div class="span5">
				<div class="control-group">
					<%= f.label :marca, :class => 'control-label' %>
					<div class="controls"><%= f.select :marca_id, Marca.order(:nombre).map { |m| [m.nombre, m.id] } %></div>
				</div>
		  		<div class="control-group">
		    		<%= f.label :codigo, :class => 'control-label' %>
		    		<div class="controls"><%= f.text_field :codigo %></div>
		  		</div>
		  		<div class="control-group">
		    		<%= f.label :nombre, :class => 'control-label' %>
		    		<div class="controls"><%= f.text_field :nombre %></div>
		  		</div>
		  		<div class="control-group">
		    		<%= f.label :descripcion, :class => 'control-label' %>
		    		<div class="controls"><%= f.text_field :descripcion %></div>
		  		</div>
		  		<div class="control-group">
		    		<%= f.label :detalle, 'Detalle (HTML)', :class => 'control-label' %>
		    		<div class="controls"><%= f.text_area :detalle, rows: 5 %></div>
		  		</div>
 				<div class="control-group">
 					<%= f.label :imagen, :class => 'control-label'%>
 					<div class="controls">
 						<%= image_tag @producto.imagen_url(:thumb) if @producto.imagen? %>
 						<%= f.file_field :imagen %>
					</div>
 				</div>
 				<div class="control-group">
				    <%= f.label :remote_imagen_url, "o URL de la imagen", :class => 'control-label' %>
				    <div class="controls"><%= f.text_field :remote_imagen_url %></div>
 				</div>
			</div>
			<div class="span4">
		  		<div class="control-group">
		    		<%= f.label :precio, :class => 'control-label' %>
		    		<div class="controls"><%= f.text_field :precio %></div>
		  		</div>
		  		<div class="control-group">
		    		<%= f.label :referencia, :class => 'control-label' %>
		    		<div class="controls"><%= f.text_field :referencia %></div>
		  		</div>
		  		<div class="control-group">
		    		<%= f.label :oferta, :class => 'control-label' %>
		    		<div class="controls"><%= f.check_box :oferta %></div>
		  		</div>
		  		<div class="control-group">
		    		<%= f.label :publicado, :class => 'control-label' %>
		    		<div class="controls"><%= f.check_box :publicado %></div>
		  		</div>
		  		<div class="control-group">
		    		<%= f.label :destacado, :class => 'control-label' %>
		    		<div class="controls"><%= f.check_box :destacado %></div>
		  		</div>
		  		<div class="control-group">
		    		<%= f.label :aplica_vale, '¿Aplican los vales?', :class => 'control-label' %>
		    		<div class="controls"><%= f.check_box :aplica_vale %></div>
		  		</div>
		  		<div class="control-group">
		  			<%= f.label :stock, :class => 'control-label' %>
		  			<div class="controls"><%= f.text_field :stock %></div>		  			
		  		</div>
		  		<div class="control-group">
		  			<%= f.label :talle, :class => 'control-label' %>
		  			<div class="controls"><%= f.text_field :talle %></div>
		  		</div>
		  		<div class="control-group">
		  			<%= f.label :peso_bebe, 'Peso del bebé', :class => 'control-label' %>
		  			<div class="controls"><%= f.text_field :peso_bebe %></div>
		  		</div>
		  		<div class="control-group">
		  			<%= f.label :edad_bebe, 'Edad del bebé', :class => 'control-label' %>
		  			<div class="controls"><%= f.text_field :edad_bebe %></div>
		  		</div>
		  		<div class="control-group">
	  				<% if @producto.persisted? %>
		  				<%= link_to 'Categorías', producto_path(@producto)+"/categorias", class: 'control-label' %>
  					<% else %>
			  			<%= f.label 'Categorías', :class => 'control-label' %>
	  				<% end %>		  				
		  			<div class="controls"><%= nombres_categorias(@producto) %></div>
		  		</div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
		  		<div class="form-actions">
		    		<%= f.submit 'Grabar', :class => 'btn btn-primary' %>
		  		</div>
			</div>
		</div>
	<% end %>
