
	<div class="well shadow">
		<div class="row">
			<div class="span2">
				<% if producto.imagen? %>
					<%= image_tag producto.imagen_url(:thumb) %>
				<% else %>
					<%= image_tag 'thumb.png' %>
				<% end %>
			</div>
			<div class="span4">
				<strong><%= producto.nombre %></strong><br/>
				<em><%= producto.descripcion %></em><br/>
				<%= "Talle #{producto.talle}" unless producto.talle.nil? or producto.talle.empty? %> <%= "(#{producto.peso_bebe})" unless producto.peso_bebe.nil? or producto.peso_bebe.empty? %><br/>
				<%= producto.referencia %><br/>
				<%= number_to_currency(producto.precio) %><br/>
				<%= link_to 'Ver Detalles', controller: :tienda, action: :detalle_producto, codigo: producto.codigo %>
			</div>
			<div class="span1" style="margin-left: 0px">
				<%= button_to 'Agregar al carrito', carrito_items_path(producto_id: producto), remote: true, class: 'btn btn-danger' %>
			</div>
		</div>				
	</div>	
