
	<legend>Listando productos</legend>

	<table class="table table-bordered table-stripped">
		<thead>
	  		<tr>
				<th colspan="2">C&oacute;digo</th>
	  			<th>Marca</th>	  			
				<th>Nombre</th>
				<th>Descripci&oacute;n</th>
				<th>Categor&iacute;as</th>
				<th>Detalle</th>
				<th>Precio</th>
				<th>Ref.</th>
				<th>Dispo- nible</th>
				<th>Publi- cado</th>
				<th>Stock</th>
				<th>Talle</th>
				<th>Peso del beb&eacute;</th>
				<th>Edad del beb&eacute;</th>
				<th colspan="3"></th>
	  		</tr>
		</thead>
		<tbody>
			<% @productos.each do |producto| %>
	  			<tr>
	  				<td nowrap><%= image_tag producto.imagen_url(:thumb) if producto.imagen? %></td>
					<td><%= producto.codigo %></td>
					<td><%= producto.marca.nombre unless producto.marca.nil? %></td>
					<td><%= producto.nombre %></td>
					<td><%= producto.descripcion %></td>
					<td><% producto.categorias.each { |c| %><span class="label"><%= c.nombre %></span>&nbsp;<% } %></td>
					<td><%= trunc(producto.detalle, 10, '...') %></td>
					<td><%= producto.precio %></td>
					<td><%= producto.referencia %></td>
					<td><%= (producto.disponible ? '<i class="icon-ok"></i>' : '<i class="icon-remove"></i>').html_safe %></td>
					<td><%= (producto.publicado ? '<i class="icon-ok"></i>' : '<i class="icon-remove"></i>').html_safe %></td>
					<td><%= producto.stock %></td>
					<td><%= producto.talle %></td>
					<td><%= producto.peso_bebe %></td>
					<td><%= producto.edad_bebe %></td>
					<td><%= link_to 'Ver', producto %></td>
					<td><%= link_to 'Editar', edit_producto_path(producto) %></td>
					<td><%= link_to 'Destruir', producto, confirm: '¿Estás seguro?', method: :delete %></td>
	  			</tr>
			<% end %>
		</tbody>
	</table>

	<div class="form-actions">
		<%= link_to 'Nuevo Producto', new_producto_path, :class => 'btn btn-primary' %>		
	</div>
