
	<legend>
		<div class="row">
			<div class="span3">
				Listando productos
			</div>
			<div class="span2">
				<div class="ref ofertas">&nbsp;</div>&nbsp;<small>Oferta</small>
			</div>
			<div class="span2">				
				<div class="ref no_publicado">&nbsp;</div>&nbsp;<small>No publicado</small>
			</div>	
			<%= form_tag productos_path, :method => 'get' do %>
				<div class="span3">
					<%= select_tag :categoria_id, options_for_select(@categorias, params[:categoria_id]), include_blank: true, onchange: '$(this).closest("form").submit();'%>
				</div>
				<div class="span4">
			  		<%= hidden_field_tag :direction, params[:direction] %>
			  		<%= hidden_field_tag :sort, params[:sort] %>
			  		
					<div class="input-append">
						<%= text_field_tag :search, params[:search], id: 'appendedInputButton' %><%= submit_tag "Buscar", :name => nil, class: 'btn' %>
					</div>  				    		
				</div>
			<% end %>
		</div>
	</legend>

	<table class="table table-bordered table-striped table-condensed">
		<thead>
	  		<tr>
				<th rowspan="2" colspan="2"><%= sortable 'codigo', 'Código' %></th>
	  			<th rowspan="2">Marca</th>	  			
				<th rowspan="2"><%= sortable 'nombre' %></th>
				<th rowspan="2"><%= sortable 'descripcion', 'Descripción' %></th>
				<th rowspan="2">Categor&iacute;as</th>
				<th rowspan="2"><%= sortable 'detalle' %></th>
				<th rowspan="2"><%= sortable 'precio' %></th>
				<th rowspan="2">Talle</th>
				<th rowspan="2"><%= sortable 'referencia', 'Ref.' %></th>
				<th colspan="3">Stock</th>
				<th rowspan="2">Peso del beb&eacute;</th>
				<th rowspan="2">Edad del beb&eacute;</th>
				<th rowspan="2"></th>
	  		</tr>
	  		<tr>
	  			<th>Real</th>
	  			<th>Comp.</th>
	  			<th>Disp.</th>
	  		</tr>
		</thead>
		<tbody>
			<% @productos.each do |producto| %>
	  			<tr class="<%= "oferta" if producto.oferta? %> <%= "no_publicado" unless producto.publicado? %>">
	  				<td nowrap><%= image_tag producto.imagen_url(:thumb) if producto.imagen? %></td>
					<td><%= producto.codigo %></td>
					<td><%= producto.marca.nombre unless producto.marca.nil? %></td>
					<td><%= producto.nombre %></td>
					<td><%= producto.descripcion %></td>
					<td><%= producto.categorias.map { |c| c.nombre }.join(', ') %></td>
					<td><%= trunc(producto.detalle, 10, '...') %></td>
					<td><%= producto.precio %></td>
					<td><%= producto.talle %></td>
					<td><%= producto.referencia %></td>
					<td class="strong red"><%= pretty_number(producto.stock_real) %></td>
					<td><%= pretty_number(producto.stock_comprometido) %></td>
					<td><%= pretty_number(producto.stock_disponible) %></td>
					<td><%= producto.peso_bebe %></td>
					<td><%= producto.edad_bebe %></td>
					<td nowrap>
						<!-- %= link_to '<i class="icon-eye-open icon-white"></i>'.html_safe, producto, class: 'btn btn-info btn-mini' % -->
						<%= link_to '<i class="icon-pencil icon-white"></i>'.html_safe, edit_producto_path(producto), class: 'btn btn-primary btn-mini' %>
						<%= link_to '<i class="icon-trash icon-white"></i>'.html_safe, producto, confirm: '¿Estás seguro?', method: :delete, class: 'btn btn-danger btn-mini' %>
						<%= link_to '<i class="icon-repeat icon-white"></i>'.html_safe, "#{productos_path}/copiar/#{producto.id}", class: 'btn btn-inverse btn-mini' %>
					</td>
	  			</tr>
			<% end %>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="17" align="center">
					<%= will_paginate @productos %>
				</td>
			</tr>
		</tfoot>
	</table>

	<div class="form-actions">
		<%= link_to 'Nuevo Producto', new_producto_path, :class => 'btn btn-primary' %>		
	</div>
