
	<legend>Listando usuarios</legend>

	<table class="table table-bordered table-stripped">
		<thead>
  			<tr>
			    <th>Nombre</th>
			    <th>Apellido</th>
			    <th>Sexo</th>
			    <th>Tel&eacute;fono particular</th>
			    <th>Tel&eacute;fono celular</th>
			    <th>Tel&eacute;fono laboral</th>
			    <th>e-mail</th>
			    <th>Administrador</th>
			    <th colspan="3"></th>
  			</tr>
		</thead>
		<tbody>
			<% @usuarios.each do |usuario| %>
  				<tr>
				    <td><%= usuario.nombre %></td>
				    <td><%= usuario.apellido %></td>
				    <td><%= usuario.sexo %></td>
				    <td><%= usuario.tel_particular %></td>
				    <td><%= usuario.tel_celular %></td>
				    <td><%= usuario.tel_laboral %></td>
				    <td><%= usuario.email %></td>
				    <td><%= usuario.administrador? ? "Si": 'No' %></td>
				    <td><%= link_to 'Ver', usuario %></td>
				    <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
				    <td><%= link_to 'Destruir', usuario, confirm: '¿Estás seguro?', method: :delete %></td>
  				</tr>
  				<% unless usuario.hijos.empty? %>
  					<tr>
  						<td>&nbsp;</td>
  						<td><strong>Hijos</strong></td>
  						<td colspan="5">
  						
  							<table class="table table-condensed table-bordered">
  								<tbody>
										<% usuario.hijos.each do |h| %>
											<tr>
												<td><%= h.nombre %></td>
												<td><%= h.sexo == 'F'? 'princesa': 'campeón' %></td>
												<td><%= h.usa_paniales?? 'usa pañales': 'ya es grande' %></td>
												<td><%= h.fecha_nacimiento.strftime('%d/%m/%Y') %></td>
											</tr>
										<% end %>
									</tbody>
								</table>
  						
  						</td>
  						<td colspan="4">&nbsp;</td>
  					</tr>
  				<% end %>
			<% end %>
		</tbody>
	</table>

	<div class="form-actions">
		<%= link_to 'Nuevo Usuario', new_usuario_path, :class => 'btn btn-primary' %>
	</div>

