<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @usuario.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @usuario.apellido %>
</p>

<p>
  <b>Sexo:</b>
  <%= @usuario.sexo %>
</p>

<p>
  <b>Tel particular:</b>
  <%= @usuario.tel_particular %>
</p>

<p>
  <b>Tel celular:</b>
  <%= @usuario.tel_celular %>
</p>

<p>
	<b>Tel laboral:</b>
	<%= @usuario.tel_laboral%>
</p>

<p>
  <b>Email:</b>
  <%= @usuario.email %>
</p>


<%= link_to 'Editar', edit_usuario_path(@usuario) %> |
<%= link_to 'Volver', usuarios_path %>
