
	<legend>
		<div class="row">
			<div class="span5">
				Listando combos
			</div>
			<div class="span3">				
				<div class="ref no_publicado">&nbsp;</div>&nbsp;<small>No publicado</small>
			</div>
		</div>
	</legend>	

	<table class="table table-bordered table-condensed table-striped">
		<thead>
			<tr>
			    <th rowspan="2">C&oacute;digo</th>
			    <th rowspan="2">Nombre</th>
			    <th rowspan="2">Precio</th>
			    <th rowspan="2">Precio real</th>
			    <th rowspan="2">Contenido</th>
			    <th rowspan="2" nowrap>¿Destacado?</th>
			    <th rowspan="2" nowrap>¿Publicado?</th>
			    <th colspan="3">Stock</th>
			    <th rowspan="2">Cu&aacute;ntos se pueden armar</th>
			    <th rowspan="2"></th>
			</tr>
			<tr>
				<td>Real</td>
				<td>Comp.</td>
				<td>Disp.</td>
			</tr>
		</thead>
		<tbody>
			<% @combos.each do |combo| %>
  				<tr class="<%= "no_publicado" unless combo.publicado? %>">
				    <td><%= combo.codigo %></td>
				    <td><%= combo.nombre %></td>
				    <td nowrap><%= best_in_place combo, :precio, display_with: :number_to_currency, html_attrs: {class: 'span1'} %></td>
				    <td><%= number_to_currency(combo.precio_real) %></td>
				    <td><%= combo.contenido %></td>
						<td><%= boolean_listado(combo, :destacado) %></td>
						<td><%= boolean_listado(combo, :publicado) %></td>
				    <td><%= pretty_number(combo.stock) %></td>
				    <td><%= pretty_number(combo.stock_comprometido) %></td>
				    <td><%= pretty_number(combo.stock_disponible) %></td>
				    <td><%= pretty_number(combo.cuantos_se_pueden_armar) %></td>
				    <td nowrap>
				    	<%= link_to '<i class="icon-eye-open icon-white"></i>'.html_safe, combo, class: 'btn btn-info' %>
				    	<%= link_to '<i class="icon-pencil icon-white"></i>'.html_safe, edit_combo_path(combo), class: 'btn btn-primary' %>
				    	<%= link_to '<i class="icon-trash icon-white"></i>'.html_safe, combo, confirm: '¿Estás seguro?', method: :delete, class: 'btn btn-danger' %>
				    	<%= link_to '<i class="icon-repeat icon-white"></i>'.html_safe, "#{combos_path}/copiar/#{combo.id}", class: 'btn btn-inverse' %>
			    	</td>
  				</tr>
			<% end %>
		</tbody>
	</table>

	<div class="form-actions">
		<%= link_to '<i class="icon-plus icon-white"></i> &nbsp;Nuevo'.html_safe, new_combo_path, class: 'btn btn-success' %>
	</div>
