<h1>Listing combo_detalles</h1>

<table>
  <tr>
    <th>Producto</th>
    <th>Cantidad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @combo_detalles.each do |combo_detalle| %>
  <tr>
    <td><%= combo_detalle.producto %></td>
    <td><%= combo_detalle.cantidad %></td>
    <td><%= link_to 'Show', combo_detalle %></td>
    <td><%= link_to 'Edit', edit_combo_detalle_path(combo_detalle) %></td>
    <td><%= link_to 'Destroy', combo_detalle, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Combo detalle', new_combo_detalle_path %>
