
	<script>
		$(document).ready(function() 
		{
		  /* Activating Best In Place */
		  jQuery(".best_in_place").best_in_place();
		});
	</script>

	<div class="row">
		<div class="span8">
		</div>
	</div>
	<div class="row">
		<div class="span8">
			
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Producto</th>
						<th>Cantidad</th>
						<th>Precio</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>					
					<%= form_tag({:controller => 'ventas', :action => 'agregar_detalle'}, :method => 'post', :class => 'form-horizontal') do %>
						<%= hidden_field_tag :venta_id, @venta.id %>
						<tr>
							<td><%= select_tag :producto_id, options_for_select(@productos.map { |p| [p.label_combos, p.id]}), class: 'span6' %></td>
							<td><%= number_field_tag :cantidad, 0, class: 'span1'  %></td>
							<td><%= number_field_tag :precio, nil, class: 'span1' %></td>
							<td><%= submit_tag 'Agregar', :class => 'btn' %></td>
						</tr>					
					<% end %>			
					<% @venta.venta_detalles.each do |d| %>
						<tr>
							<td>
								<%= d.producto.nombre unless d.producto.nil? %>
								<%= d.combo.detalle unless d.combo.nil? %>
							</td>
							<td><%= pretty_number(d.cantidad) %></td>
							<td nowrap><%= number_to_currency(d.precio) %></td>
							<td><%= link_to 'Quitar', "#{ventas_url}/quitar_detalle/#{d.id}", :class => 'btn btn-danger'%></td>
						</tr>
					<% end %>
				</tbody>
			</table>
	
		</div>
	</div>

