
	<legend>Listando ventas</legend>

	<table class="table table-striped table-bordered">
		<thead>
			<tr>
			    <th>Fecha</th>
			    <th>Usuario</th>
			    <th>Domicilio</th>
			    <th></th>
			</tr>
		</thead>
		<tbody>
			<% @ventas.each do |venta| %>
				<tr>
				    <td><%= venta.fecha %></td>
				    <td><%= venta.usuario.apellido unless venta.usuario.nil? %></td>
				    <td><%= venta.domicilio.nombre unless venta.domicilio.nil? %></td>
				    <td>
				    	<%= link_to 'Detalle <i class="icon-edit icon-white"></i>'.html_safe, venta, class: 'btn btn-info' %>
				    	<%= link_to 'Destruir <i class="icon-remove icon-white"></i>'.html_safe, venta, confirm: '¿Estás seguro?', method: :delete, class: 'btn btn-danger' %>
			    	</td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<div class="form-actions">
		<%= link_to 'Nueva Venta <i class="icon-plus icon-white"></i>'.html_safe, new_venta_path, :class => 'btn btn-primary' %>
	</div>
