
	<p id="notice"><%= notice %></p>

	<div class="span6 offset3">
		<div class="row">
			<div class="span8 well">
				<p>
				  <b>Fecha:</b>
				  <%= @venta.fecha %>
				</p>				
				<p>
				  <b>Usuario:</b>
				  <%= @venta.usuario.apellido unless @venta.usuario.nil? %>
				</p>				
				<p>
				  <b>Domicilio:</b>
				  <%= @venta.domicilio.nombre unless @venta.domicilio.nil? %>
				</p>
				<p>
					<b>Fecha de entrega:</b>
					<%= @venta.fecha_entrega %>&nbsp;
					de <%= @carrito.hora_desde_entrega.strftime('%H:%M') %> a <%= @carrito.hora_hasta_entrega.strftime('%H:%M') %>.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="span8">
				<%= render 'ventas/detalles' %>
			</div>
		</div>
		<div class="row">
			<div class="span8">
				<div class="form-actions">
					<%= link_to 'Volver', ventas_path, :class => 'btn' %>
				</div>
			</div>
		</div>
	</div>
