
	<p id="notice"><%= notice %></p>

	<div class="span6 offset3">
		<div class="row">
			<div class="span8 well">
				<p>
				  <b>Fecha:</b>
				  <%= best_in_place @venta, :fecha %>
				</p>				
				<p>
				  <b>Usuario:</b>
				  <%= best_in_place(@venta, :usuario_id, type: :select, collection: Usuario.all.map {|u| [u.id, "#{u.nombre} #{u.apellido}"]}) unless @venta.usuario.nil? %>
				</p>				
				<p>
				  <b>Domicilio:</b>
				  <%= best_in_place(@venta, :domicilio_id, type: :select, collection: @domicilios.map {|d| [d.id, "#{d.descripcion}"]}) unless @venta.domicilio.nil? %> 
				</p>
				<p>
					<b>Fecha de entrega:</b>
					<%= best_in_place @venta, :fecha_entrega %>&nbsp;
					de <%= best_in_place @venta, :hora_desde_entrega, display_as: :hora_desde %> a <%= best_in_place @venta, :hora_hasta_entrega, display_as: :hora_hasta %>.
				</p>
				<p>
					<b>Costo de env&iacute;o:</b>
					<%= best_in_place @venta, :costo_envio %>
				</p>
				<p>
					<b>Confirmada:</b>
					<%= best_in_place @venta, :confirmada, type: :checkbox, collection: ['true', 'false'] %>
				</p>
				<p>
					<b>Monto total:</b>
					<%= number_to_currency(@venta.monto_total) %>
				</p>
				<p>
					<b>Comentarios:</b>
					<%= best_in_place @venta, :comentarios, type: :textarea %>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="span8">
				<%= render 'ventas/detalles' %>
			</div>
		</div>
		<div class="row">
			<div class="span8">
				<div class="form-actions">
					<%= link_to 'Volver', ventas_path, :class => 'btn' %>
				</div>
			</div>
		</div>
	</div>
