
<div class="well titulo_naranja">
	<h3>Mi Cuenta</h3>
</div>
	
<div class="tabbable">
  	<ul class="nav nav-tabs">
		<%= tab 'Mis pedidos', mi_cuenta_pedidos_path %>
		<%= tab 'Datos personales', mi_cuenta_datos_personales_path %>
		<%= tab 'Domicilios', mi_cuenta_domicilios_path %>
		<%= tab 'Vales de descuento', mi_cuenta_vales_path %>
		<%= tab 'Cambio contraseña', mi_cuenta_cambio_clave_path %>
	</ul>
