
	<h2>Mi Cuenta</h2>
	
	<%= link_to 'Historial de pedidos', mi_cuenta_pedidos_path %> /
	<%= link_to 'Mis datos personales', mi_cuenta_datos_personales_path %> /
	<%= link_to 'Mis domicilios', mi_cuenta_domicilios_path %> /
	<%= link_to 'Mis vales de descuento', mi_cuenta_vales_path %><br/>
	<%= link_to 'Cambio de contraseña', mi_cuenta_cambio_clave_path %>
