
	<%= render 'mi_cuenta/menu' %>
	
	<div class="tab-content">

		<div class="well titulo_naranja">
			<h3>Cambio de contrase&ntilde;a</h3>
		</div>
	
		<%= form_tag( { action: :cambio_clave }, { remote: true, class: 'form-horizontal' } ) do %>
			<div class="control-group">
				<%= label_tag :email, 'e-mail', class: 'control-label' %>
				<div class="controls"><%= email_field_tag :email %></div>
			</div>
			<div class="control-group">
				<%= label_tag :password, 'Contraseña', class: 'control-label' %>
				<div class="controls"><%= password_field_tag :password %></div>
			</div>
			<div class="control-group">
				<%= label_tag :confirmation, 'Confirmar contraseña', class: 'control-label'%>
				<div class="controls"><%= password_field_tag :confirmation %></div>
			</div>
			<div class="form-actions">			
				<%= submit_tag 'Cambiar contraseña', class: 'btn btn-primary' %>
			</div>
		<% end %>

	</div>
</div>
