
	<%= render 'mi_cuenta/menu' %>

	<div class="tab-content">

		<div class="well titulo_naranja">
			<h3>Mis hijos</h3>
		</div>
		
		<div class="row">
			<div class="span2">
				<%= link_to 'Agregar hijo/a', {action: :new_hijo}, {class: 'btn pull-right'} %>
			</div>
			<div class="span5">
				<%= render @usuario.hijos %>
			</div>
		</div>
		
		<div class="well titulo_naranja">
			<h3>Mis datos personales</h3>
		</div>
		
		<%= form_for(@usuario, remote: true, html: {class: 'form-horizontal'}, validate: true) do |f| %>
			<div class="control-group">
				<%= f.label :nombre, class: 'control-label' %>
				<div class="controls"><%= f.text_field :nombre %><i class="icon-asterisk"></i></div>
			</div>
			<div class="control-group">
				<%= f.label :apellido, class: 'control-label' %>
				<div class="controls"><%= f.text_field :apellido %><i class="icon-asterisk"></i></div>
			</div>
			<div class="control-group">
				<%= f.label :email, 'e-mail', class: 'control-label' %>
				<div class="controls"><%= f.email_field :email %><i class="icon-asterisk"></i></div>
			</div>
			<div class="control-group">
				<%= f.label :sexo, class: 'control-label' %>
				<div class="controls"><%= f.select :sexo, [['Masculino', 'M'], ['Femenino', 'F']] %></div>
			</div>
			<div class="control-group">
				<%= f.label :tel_particular, 'Tel. particular', class: 'control-label' %>
				<div class="controls"><%= f.telephone_field :tel_particular %></div>
			</div>
			<div class="control-group">
				<%= f.label :tel_celular, 'Tel. celular', class: 'control-label' %>
				<div class="controls"><%= f.telephone_field :tel_celular %></div>
			</div>
			<div class="control-group">
				<%= f.label :tel_laboral, 'Tel. laboral', class: 'control-label' %>
				<div class="controls"><%= f.telephone_field :tel_laboral %></div>
			</div>
			<div class="control-group">
				<div class="controls"><%= f.submit 'Grabar', class: 'btn btn-primary' %></div>
			</div>
		<% end %>
	
	</div>
</div>	
	
