
	<%= render 'mi_cuenta/menu' %>

	<div class="tab-content">

		<div class="well titulo_naranja">
			<h3>Domicilio</h3>
		</div>
	
		<%= form_for(@domicilio, url: "#{mi_cuenta_domicilios_path}/#{@domicilio.id}", html: {class: 'form-horizontal'}, validate: true) do |f| %>
			<div class="control-group">
				<%= f.label :nombre, class: 'control-label' %>
				<div class="controls"><%= f.text_field :nombre %></div>
			</div>
			<div class="control-group">
				<%= f.label :calle, class: 'control-label' %>
				<div class="controls"><%= f.text_field :calle %></div>
			</div>
			<div class="control-group">
				<%= f.label :numero, class: 'control-label' %>
				<div class="controls"><%= f.number_field :numero %></div>
			</div>
			<div class="control-group">
				<%= f.label :piso, class: 'control-label' %>
				<div class="controls"><%= f.text_field :piso %></div>
			</div>
			<div class="control-group">
				<%= f.label :depto, 'Departamento', class: 'control-label' %>
				<div class="controls"><%= f.text_field :depto %></div>
			</div>
			<div class="control-group">
				<%= f.label :entre_calles, class: 'control-label' %>
				<div class="controls"><%= f.text_field :entre_calles %></div>
			</div>
			<div class="control-group">
				<%= f.label :codigo_postal, 'Código postal', class: 'control-label' %>
				<div class="controls"><%= f.text_field :codigo_postal %></div>
			</div>
			<div class="control-group">
				<%= f.label :barrio, class: 'control-label' %>
				<div class="controls"><%= f.select :barrio_id, Barrio.order(:nombre).map{ |b| [b.nombre, b.id] } %></div>
			</div>
			<div class="form-actions">
				<%= f.submit 'Grabar', class: 'btn btn-primary' %>
				<%= link_to 'Cancelar', mi_cuenta_domicilios_path, class: 'btn' %>
			</div>
		<% end %>
	</div>

</div>


