<!--
	<%= render 'mi_cuenta/menu' %>
-->
	<div class="well titulo_azul">
		<h3>Mi hijo / a</h3>	
	</div>
		
	<%= form_for(@hijo, url: "#{mi_cuenta_hijos_path}/#{@hijo.id}", html: {class: 'form-horizontal'}, validate: true) do |f| %>
		<div class="control-group">
			<%= f.label :nombre, class: 'control-label'%>
			<div class="controls"><%= f.text_field :nombre %></div>
		</div>
		<div class="control-group">
			<%= f.label :apellido, class: 'control-label'%>
			<div class="controls"><%= f.text_field :apellido %></div>
		</div>
		<div class="control-group">
			<%= f.label :fecha_nacimiento, 'Fecha de nacimiento', class: 'control-label'%>
			<div class="controls"><%= f.date_select :fecha_nacimiento,{}, class: 'span1' %></div>
		</div>
		<div class="control-group">
			<%= f.label :sexo, class: 'control-label' %>
			<div class="controls"><%= f.select :sexo, [['Masculino', 'M'], ['Femenino', 'F']] %></div>
		</div>
		<div class="control-group">
			<%= f.label :usa_paniales, 'Usa pañales', class: 'control-label' %>
		    <div class="controls"><%= f.check_box :usa_paniales %></div>
		</div>
	    <div class="form-actions">
			<%= f.submit 'Grabar', class: 'btn btn-primary' %>
			<%= link_to 'Volver', mi_cuenta_datos_personales_path, class: 'btn' %>	
		</div>    
	<% end %>
