<!DOCTYPE html>

<html>
	<head>
		<title>Pa&ntilde;alera Digital - ADMINISTRACI&Oacute;N</title>
  		<%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  		<%= stylesheet_link_tag    "admin", :media => "all" %>
  		
  		<%= javascript_include_tag "application" %>
  		<%= javascript_include_tag "jquery.blockUI" %>
  		<%= csrf_meta_tags %>
  		<style type="text/css">
	      body {
	        padding-top: 60px;
	        padding-bottom: 40px;
	      }
	    </style>
	</head>
	
	<body>

		<div class="navbar navbar-fixed-top">
      		<div class="navbar-inner">
        		<div class="container">
          
          			<a class="brand" href="#">Pa&ntilde;alera Digital</a>
          			
          			<div class="nav-collapse">
						<ul class="nav">
							<%= item_menu 'admin', admin_path %>
							<li class="dropdown">
    							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuraci&oacute;n<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<%= item_menu 'parametros', parametros_path %>
									<%= item_menu 'barrios', barrios_path %>
									<%= item_menu 'entregas', entregas_path, '<i class="icon-map-marker"></i>&nbsp; Entregas'.html_safe %>
									<%= item_menu 'excepcion_entregas', excepcion_entregas_path, '<i class="icon-warning-sign"></i>&nbsp; Excepciones de entrega' %>
								</ul>
  							</li>
							<li class="dropdown">
    							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Cat&aacute;logo<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<%= item_menu 'categorias', categorias_path %>
									<%= item_menu 'marcas', marcas_path %>
									<%= item_menu 'productos', productos_path, '<i class="icon-barcode"></i> Productos'.html_safe %>
									<%= item_menu 'combos', combos_path, '<i class="icon-gift"></i> Combos'.html_safe %>
								</ul>
  							</li>
							<li class="dropdown">
    							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Operaciones<b class="caret"></b></a>
								<ul class="dropdown-menu">
									<%= item_menu 'compras', compras_path %>
									<%= item_menu 'ventas', ventas_path %>
								</ul>
  							</li>
  							<%= item_menu 'proveedores', proveedores_path %>
							<%= item_menu 'usuarios', usuarios_path %>
							<%= item_menu 'domicilios', domicilios_path %>
							<%= item_menu 'vales', vales_path %>
							<%= item_menu 'hijos', hijos_path %>
							<%= item_menu 'inicio', tienda_url %>
						</ul>
          			</div>
        		</div>
      		</div>
    	</div>
		
		<div class="container-fluid">
			<%= yield %>
		</div>
		
		<script>
			$(document).ready(function() 
			{
				/* Activating Best In Place */
				jQuery(".best_in_place").best_in_place();
			});
		
			function block(mensaje)
			{ 
    			$.blockUI(
				{ 
    				message: '<h2>'+ mensaje +'</h2>',
    				css: 
    				{ 
				        border: 'none', 
				        padding: '15px', 
				        backgroundColor: '#000', 
				        '-webkit-border-radius': '10px', 
				        '-moz-border-radius': '10px', 
				        opacity: .5, 
				        color: '#fff' 
        			} 
    			});
			}
		</script>
		
	</body>
	
</html>
