<!DOCTYPE html>

<html>
	<head>
		<title>Pa&ntilde;alera Digital - ADMINISTRACI&Oacute;N</title>
  		<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tags %>
  		<style type="text/css">
	      body {
	        padding-top: 60px;
	        padding-bottom: 40px;
	      }
	    </style>
	</head>
	
	<body>

		<div class="navbar navbar-fixed-top">
      		<div class="navbar-inner">
        		<div class="container">
          
          			<a class="brand" href="#">Pa&ntilde;alera Digital</a>
          			
          			<div class="nav-collapse">
						<ul class="nav">
							<%= item_menu 'categorias', categorias_path %>
							<%= item_menu 'productos', productos_path %>
							<%= item_menu 'usuarios', usuarios_path %>
							<%= item_menu 'barrios', barrios_path %>
							<%= item_menu 'domicilios', domicilios_path %>
							<%= item_menu 'vales', vales_path %>
							<%= item_menu 'hijos', hijos_path %>
							<%= item_menu 'compras', compras_path %>
							<%= item_menu 'detalles_compras', detalles_compras_path %>
						</ul>
          			</div>
        		</div>
      		</div>
    	</div>
		
		<div class="container">
			<%= yield %>
		</div>
	</body>
	
</html>
