<!DOCTYPE html>

<html>
	<head>
		<title>Pa&ntilde;alera Digital</title>
		<%= stylesheet_link_tag    "bootstrap", :media => "all" %>
		<%= stylesheet_link_tag    "panialera", :media => "all" %>
		
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>

	</head>

	<body>
		<div id="tira">
		</div>
		<br/>
	
		<div class="container">
			<div class="row">
				<div class="span7">
					<div class="page-header">
						<h1>
							Pa&ntilde;alera <small>Digital</small>
						</h1>
					</div>					
				</div>
				<div class="span7">
					<div class="row">
						<div class="pull-right">
						<!--
							<a>toto</a>&nbsp;<a>tata</a>
							-->
						</div>
					</div>
					<br/>
					<div class="row">
						<div id="busqueda" class="well span4 offset1">
						
							<form class="form-horizontal">
								<div class="input-append">
									<input placeholder="Búsqueda de productos" class="span3" type="text" id="appendedInputButton" /><button class="btn btn-danger" type="button">Buscar</button>
								</div>
							</form>
						
						</div>
					</div>
				</div>
			</div>
			
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container">
							<ul class="nav">
								<li><%= link_to 'Inicio', tienda_url %></li>
								<li><%= link_to 'Mi Carrito', @carrito %></li>
								<li><%= link_to 'Mi Cuenta', url_for(controller: :mi_cuenta, action: :datos_personales, id: session[:usuario_id]) if usuario_logueado? %></li>
								<li><%= link_to 'Contacto', url_for(controller: :tienda, action: :contacto) %></li>
								<li><%= link_to '¡Registrarme!', url_for(controller: :sessions, action: :registro) unless usuario_logueado? %></li>
							</ul>
						</div>
					</div>
				</div>
			
			<!-- Cuerpo principal -->
			<div class="row">
				<!-- Columna izquierda -->
				<div class="span3">
					<ul class="nav nav-list well" id="categorias">
						<h3>Categor&iacute;as</h3>
						<% @categorias.each do |c| %>
							<li>								
								<%= link_to_unless c.productos.empty?, raw("<i class='icon-asterisk icon-white'></i> #{c.nombre}"), controller: :tienda, action: :productos_categoria, codigo: c.codigo %>
							</li>
						<% end %>
					</ul>
				</div>
				<!-- Columna central (principal) -->
				<div class="span8">
					<%= render 'layouts/panel_mensajes' %>

					<%= yield %>

					<footer class="footer">
						<p>&copy;2012 Pa&ntilde;alera Digital. Todos los derechos reservados.</p>
					</footer>
				</div>
				<!-- Columna derecha -->
				<div class="span3">
					<!-- Sólo mostrar el carrito lateral cuando no se está editando el carrito -->
					<div class="well" id="carrito">
						<%= render @carrito unless params[:controller] == 'carritos' or params[:controller] == 'ventas' %>
					</div>

					<div class="well" id="mi_cuenta">
						<%= render partial: 'sessions/session' %>
					</div>					
				</div>
			</div>
		</div>

	</body>

</html>
