<!DOCTYPE html>

<html>
	<head>
		<title>Pa&ntilde;alera Digital</title>
  		<%= stylesheet_link_tag    "application", :media => "all" %>
  		<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tags %>
	</head>
	
	<body>

		<div id="columns">
			<div id="side">
				<div id="carrito">
					<%= render @carrito %>
				</div>

				<ul>
					<li><a href="http://www....">Home</a></li>
					<li><a href="http://www..../faq">Questions</a></li>
					<li><a href="http://www..../news">News</a></li>
					<li><a href="http://www..../contact">Contact</a></li>
				</ul>
			</div>
			
			<div id="main">
				<%= yield %>
			</div>
		</div>

	</body>
	
</html>
