<!DOCTYPE html>

<html>
	<head>
		<title>Pa&ntilde;alera Digital</title>
  		<%= stylesheet_link_tag    "vanilla", :media => "all" %>
  		<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tags %>
	</head>
	
	<body>
	
		<div id="main">

			<div id="menu_superior">
				<div id="top">
					<%= image_tag "logo.png", :id => 'logo' %>					
					
					<div id="menu_items">
						<ul>
							<li>
								<%= link_to image_tag("item_menu_inicio.png"), tienda_url %>
								<%= link_to image_tag("item_menu_carrito.png")%>
							</li>
						</ul>
					</div>
				</div>
				<div id="bottom">
					<div id="linea">&nbsp;</div>

					<%= image_tag "slogan.png", :id => 'slogan' %>					
				</div>
			</div>
			
			<div id="contenido">
			
				<div id="menu_izquierdo">
					<%= image_tag 'buscar.png' %>
					<form method="post" action="http://thischickdesigns.com/catalog.htm" style="margin:0">
						<input type="text" name="keyword" size="12"> 
						<input type="submit" value="Ir" class="formbutton">
					</form>
					<br/>

					<%= image_tag 'categorias.png' %>					
					<ul class="nav1">
						<% @categorias.each do |c| %>
							<li><%= link_to_unless c.productos.empty?, c.nombre, controller: :tienda, action: :productos_categoria, codigo: c.codigo %></li>
						<% end %>
					</ul>					
					<br/>

				</div>
				
				<div id="cuerpo_principal">
					<%= yield %>
				</div>
								
				<!-- Sólo mostrar el carrito lateral cuando no se está editando el carrito -->
				<div id="carrito">
					<%= render @carrito unless params[:controller] == 'carritos' %>
				</div>
				
				<div id="mi_cuenta">
					<%= render partial: 'sessions/session' %>
				</div>
				
				<div id="footer">&nbsp;</div>
				
			</div>

			<div id="copyright">
				&nbsp;
				<br/>
				&copy;2012 Pa&ntilde;alera Digital. Todos los derechos reservados. Powered by Me. Web Design by Me.
			</div>
			
		</div>	
		
	</body>
	
</html>
